/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex mono", serif;
  background-image: var(--page-cover-img, url("../images/cover-image-dark.png"));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 18px;
  line-height: 130%;
}

.header {
  display: grid;
  min-block-size: 100vh;
  padding: 10px;
}

.header-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--color-title, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  margin-block-start: 65px;
  @media (width >= 768) {
    font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header-content {
  font-weight: 700;
  margin-block: 55px;
}

.title-decor {
  color: var(--text-color, #000028);
  background-color: var(--accent-color, #FF0070);
}

.header-rec {
  position: absolute;
  display: var(--none-display, inline-flex);
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 13px;

}

.header-rec::before {
  content: "REC";
  color: #FF0070;
}

.header-rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #FF0070;
  background: #FF0070;
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decorated-color, #FF0070);
  border-block-start: 1px solid var(--decorated-color, #FF0070);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid #ff0070;
  border-block-end: 1px solid #ff0070;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}


.header__theme-menu {
  justify-self: end;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 12px;
}

.header__theme-menu-button {
  background: transparent;
  color: var(--decorated-color, #FF0070);
  border: 1px solid transparent;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
  padding: 2.5px 13px;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--decorated-color, #FF0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.main {
  display: grid;
  padding: 40px 10px;
  gap: 50px;
}

.main-title {
  color: var(--decorated-color, #FF0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  /*background-color: var(--accent-color);*/
}

.section {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.article-title {
  font-size: inherit;
  line-height: inherit;
}

.article-content {
  color: var(--color-text-content, #F1B2CE);
}

.article-h4-title {
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
}

.margin-otstup {
  margin-block-end: 20px;
}
